.form-pets div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-pets input {
    height: 5vh;
    width: 70vh;
    padding-left: 1%;
    margin-bottom: 10px;
}

.input-error {
    outline: 1px solid rgb(255, 72, 72);
}
  
.error-message {
    color: rgb(255, 72, 72);
    font-size: 0.75rem;
    margin-top: 8px;
}
.button-style {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
    padding: 1em 2.7em;
    font-weight: 500;
    width: 150px;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
    margin: 5px;
  }
  
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
    );
}
  
.label {
    position: relative;
    top: -1px;
}
  
.transition-save {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: green;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.transition-cancel {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: red;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
button:hover .transition-save {
    width: 14em;
    height: 14em;
}
button:hover .transition-cancel {
    width: 14em;
    height: 14em;
}
  
button:active {
    transform: scale(0.97);
}

.buttons-container {
    position: absolute;
    display: flex;
    align-items: end;
    align-self: flex-end; 
    flex-direction: row;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}
.form-container {
    color: black;
}